.MainContacts {
  margin: auto;
  margin-top: 4rem;
  width: 70%;
}

.MainContacts .content {
  display: flex;
  justify-content: space-around;
}

.MainContacts .content .left {
  width: 50%;
  margin-top: 6rem;
}

.MainContacts .content .left h1 {
  font-size: 5rem;
}

.MainContacts .content .left .contacts {
  margin-top: 3rem;
}

.MainContacts .content .left .contacts p {
  margin: .5rem 0;
}

.MainContacts .content .left .contacts span {
  opacity: .5;
  transition: .4s;
  cursor: pointer;
}

.MainContacts .content .left .contacts span:hover {
  opacity: 1;
  color: #CBB58B;
}

.MainContacts .content .left .icon {
  margin: 1.7rem 0;
}

.MainContacts .content .left .icon a {
  text-align: center;
  margin: 0 .7rem;
}

.MainContacts .content .left .icon a img:hover {
  transition: .2s;
  transform: scale(1.2);
}
