.HeaderAbout {
  background: none;
  height: 10vh;
}

.HeaderAbout .ContentAbout {
  margin: auto;
  width: 70%;
  border: 1px transparent solid;
  height: 10vh;
}

.HeaderAbout .ContentAbout .About {
  float: left;
}

.HeaderAbout .ContentAbout .About a {
  color: black;
}

.HeaderAbout .ContentAbout .componentWidth {
  margin-left: 30%;
  margin-top: -4.5%;
}

.HeaderAbout .ContentAbout .componentWidth a {
  color: black;
}

.HeaderAbout .ContentAbout .componentWidth a:hover {
  color: #976C64;
}

.HeaderAbout .ContentAbout .componentWidth .active {
  color: #855d56;
}

main .aboutUs {
  margin: auto;
  margin-top: 5%;
  width: 90%;
}

main .aboutUs .text {
  width: 40%;
  float: left;
  animation: moveInRight 2s;
}

main .aboutUs .text h1 {
  font-size: 80px;
  margin-top: 10%;
  text-align: center;
  opacity: .9;
  letter-spacing: .3rem;
}

main .aboutUs .text h3 {
  font-size: 20px;
  margin: 1.5rem 0;
  opacity: .8;
}

main .aboutUs .text p {
  opacity: .7;
  letter-spacing: .1rem;
  line-height: 1.3rem;
}

main .aboutUs .image {
  animation: moveInLeft 2s;
}

main .aboutUs .image img {
  margin-left: 4rem;
}

main .Number {
  margin-top: 5%;
  background-image: url(/home/qandeeil/React/library/src/Components/About/Main/images/image-1.jpg);
  height: 50vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveInDown 2s;
}

main .Number .content {
  display: flex;
  text-align: center;
}

main .Number .content .counter {
  justify-content: space-around;
  color: #fff;
  margin: 0 2rem;
}

main .Number .content .counter h1 {
  font-size: 7rem;
  opacity: .9;
}

main .Number .content .counter .line {
  border: 4px #fff solid;
  border-radius: 25px;
  width: 30%;
  margin: auto;
  margin-bottom: .5rem;
}

main .Number .content .counter p {
  font-size: 20px;
  opacity: .7;
}

main .OurServices {
  width: 70%;
  margin: auto;
  margin-top: 4%;
  height: 50vh;
}

main .OurServices .text {
  float: left;
}

main .OurServices .text h1 {
  font-size: 50px;
}

main .OurServices .text p {
  margin: 2rem 0;
  width: 80%;
  opacity: .8;
}

main .OurServices .text .left {
  list-style: circle;
  float: left;
  width: 50%;
}

main .OurServices .text .left li {
  opacity: .6;
  margin-bottom: .2rem;
}

main .OurServices .text .right {
  list-style: circle;
  float: left;
  width: 50%;
}

main .OurServices .text .right li {
  opacity: .7;
  margin-bottom: .2rem;
}

main .OurServices a {
  display: inline-block;
  margin-top: 35%;
  margin-left: -104%;
  color: black;
  background-color: #CBB58B;
  width: 9rem;
  height: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  transition: .7s;
  border: 4px solid transparent;
  color: #fff;
  font-weight: bold;
}

main .OurServices a:hover {
  background-color: #fff;
  border: 4px solid #CBB58B;
  color: #CBB58B;
}

main .OurServices .image {
  display: flex;
  justify-content: center;
}

main .Threeimage {
  display: flex;
  justify-content: space-around;
}

main .Threeimage img {
  cursor: pointer;
  transition: .5s;
}

main .Threeimage img:hover {
  opacity: .8;
}
