main{
    & .Section-1{
        margin-top: 3%;
        & .header{
            text-align: center;
            animation: moveInRight 2s;
            & h1{
                font-size: 40px;
            }
            & p{
                width: 7%;
                margin: 2rem auto;
                border-bottom: 6px gold solid;
                border-radius: 25%;
            }
        }
        & .event-1{
            width: 80%;
            margin: 1% auto;
            animation: moveInDown 2s;
            & .contentEvent{
                & .Paragraph{
                    width: 50%;
                    float: left;
                    & .paragraph1{
                        opacity: .5;
                    }
                    & h1{
                        margin: 2rem 0;
                        width: 80%;
                        font-size: 40px;
                        letter-spacing: .1rem;
                    }
                    & .paragraph2{
                        width: 70%;
                        opacity: .9;
                        letter-spacing: .05rem;
                        line-height: 1.3rem;
                    }
                    & span{
                        display: inline-block;
                        margin-top: 5%;
                        font-size: 18px;
                        color: #CBB58B;
                        transition: .4s;
                        cursor: pointer;
                        &:hover{
                            color: #968565;
                        }
                    }
                }
            }
        }
        & .Allevent{
            display: flex;
            justify-content: center;
            animation: moveInLeft 2s;
            & span{
                display: inline-block;
                background-color: #F2F2F2;
                text-align: center;
                width: 20rem;
                height: 4rem;
                line-height: 4rem;
                cursor: pointer;
                opacity: .7;
                transition: .5s;
                border-radius: 15px;
                margin: 0 1rem;
                &:hover{
                    background-color: #CBB58B;
                    opacity: .8;
                }
            }
        }
        & .pop{
            background-color: rgba(0, 0, 0, 0.20);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            z-index: 999;
            animation: popDown .7s;
            & .boxPop{
                background-color: #F2F2F2;
                width: 70%;
                height: 70%;
                margin: auto;
                & .contentPop{
                    margin-top: 2%;
                    & .contentImage{
                        width: 50%;
                        float: left;
                        & img{
                            margin-left: 2%;
                            width: 40rem;
                            box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.20);
                        }
                    }
                    & .text-Left{
                        text-align: center;
                        width: 100%;
                        margin-left: 2%;
                        margin-top: 1%;
                        & h1{
                            font-size: 40px;
                            letter-spacing: .1rem;
                        }
                        & span{
                            margin-top: 1%;
                            margin-left: 2%;
                            opacity: .5;
                            letter-spacing: .1rem;
                            line-height: 1.4rem;
                        }
                        & p{
                            margin-top: 4%;
                        }
                    }
                    & .text-Right{
                        float: left;
                        margin-left: 3%;
                        margin-top: 3%;
                        & .infoName{
                            float: left;
                            margin-right: 2.5rem;
                            & h3{
                                margin: 1rem;
                                opacity: .9;
                            }
                        }
                        & .infoRes{
                            float: left;
                            & h3{
                                margin: 1rem;
                                opacity: .8;
                            }
                        }
                    }
                }
                & .Close{
                    position: absolute;
                    right: 16%;
                    top: 16%;
                    cursor: pointer;
                    width: 50px;
                }
            }
        }
        .popShow{
            display: flex;
            animation: popDown 1s;
        }
        .popHide{
            display: none;
        }
    }
}

.show{
    display: block;
    animation: moveInDown 2s;
}
.hide{
    display: none;
}