.Section-5 {
  background-image: url(/home/qandeeil/React/library/src/sass/Home/Main/Newsletter/images/background.jpg);
  height: 60vh;
  background-attachment: fixed;
  position: relative;
}

.Section-5 .Content {
  color: #fff;
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Section-5 .Content h1 {
  font-size: 8rem;
}

.Section-5 .Content p {
  margin: -20px 0;
}

.Section-5 .Content input {
  outline: none;
  border: 3px solid #4b3b0e;
  border-radius: 13px;
  margin-top: 5rem;
  width: 18rem;
  height: 2.5rem;
  padding-left: 5px;
  font-weight: bold;
}

.Section-5 .Content input::-webkit-input-placeholder {
  font-size: 15px;
  padding-left: 10px;
  color: #4b3b0e;
  opacity: .7;
}

.Section-5 .Content button {
  margin-left: 2%;
  margin-top: 2%;
  width: 8rem;
  height: 3rem;
  border-radius: 15px;
  border: 3px solid #4b3b0e;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 15px;
  transition: .6s;
}

.Section-5 .Content button:hover {
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
}
